{
  "swagger": "2.0",
  "info": {
    "title": "Zoom REST API",
    "description": "API Description",
    "contact": {
      "name": "Zoom Developers",
      "url": "https://zoom.us/developer",
      "email": "developer@zoom.us"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "2.0.0"
  },
  "host": "api.zoom.us",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "paths": {
    "/meetings/{number}" :{
      "get" :{
        "description": "Get a meeting",
        "tags": [
          "Meeting"
        ],
        "operationId": "meetingGet",
        "parameters" : [
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "put" :{
        "description": "Update a meeting",
        "tags": [
          "Meeting"
        ],
        "operationId": "meetingUpdate",
        "parameters" : [
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "delete" :{
        "description": "Delete a meeting",
        "tags": [
          "Meeting"
        ],
        "operationId": "meetingDelete",
        "parameters" : [
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "occurence_id",
            "type": "string",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/meetings/{number}/registrants" :{
      "get" :{
        "description": "",
        "tags": [
          "Meeting"
        ],
        "operationId": "meetingRegGet",
        "parameters" : [
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "post" :{
        "description": "",
        "tags": [
          "Meeting"
        ],
        "operationId": "meetingRegCreate",
        "parameters" : [
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "occurence_id",
            "type": "string",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users": {
      "get" : {
        "description": "List all Users",
        "tags": [
          "User"
        ],
        "operationId": "userList",
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "type": "string",
            "default": "active",
            "enum":["active","inactive","pending"]
          },
          {
            "in": "query",
            "name": "page_size",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "page_number",
            "type": "integer"
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "post": {
        "description": "Create a user on Zoom, returns the created user",
        "tags": [
          "User"
        ],
        "operationId": "userCreate",
        "parameters": [
          {
            "in": "body",
            "name": "user",
            "required": true,
            "description": "User",
            "schema": {
              "type": "object",
              "properties": {
                "action": {
                  "title": "action",
                  "description": "Create User Type",
                  "type":"string",
                  "enum":[
                    "create",
                    "autoCreate",
                    "ssocreate",
                    "custcreate"
                  ]
                },
                "user_info": {
                  "type":"object",
                  "properties":{
                    "email":{
                      "type": "string",
                      "format": "email"
                    },
                    "type":{
                      "type": "integer",
                      "enum":[0,1,2]
                    },
                    "first_name":{
                      "type": "string"
                    },
                    "last_name":{
                      "type": "string"
                    },
                    "password":{
                      "type": "string",
                      "format": "password"
                    }
                  }
                }
              },
              "required": ["action", "user_info"]
            }
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}" : {
      "get" : {
        "description": "Get a user",
        "tags": [
          "User"
        ],
        "operationId": "userGet",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "login_type",
            "type": "integer"
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "put" :{
        "description": "Update a user",
        "tags": [
          "User"
        ],
        "operationId": "userUpdate",
        "parameters": [
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "User",
            "schema": {
              "type":"object",
              "properties":{
                "first_name":{
                  "type": "string"
                },
                "last_name":{
                  "type": "string"
                },
                "type":{
                  "type": "integer",
                  "enum":[0,1,2]
                },
                "pmi":{
                  "type": "string"
                },
                "timezone":{
                  "type": "string",
                  "format": "date-time"
                },
                "dept":{
                  "type": "string"
                },
                "vanity_name":{
                  "type": "string"
                },
                "host_key":{
                  "type": "integer"
                }
              }
            }
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "delete" : {
        "description": "Delete a user on Zoom",
        "tags": [
          "User"
        ],
        "operationId": "userDelete",
        "parameters": [
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "action",
            "description" : "Delete Action Type<br/>**disassociate**: Dissassociate a User from account<br/>**delete**: Permanently Delete a user",
            "in": "query",
            "type": "string",
            "enum" : [
              "disassociate",
              "delete"
            ]
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}/assistants" : {
      "get" : {
        "description": "List user's assistants",
        "tags": [
          "User"
        ],
        "operationId": "userListAssistants",
        "parameters": [
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required" : true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "put" : {
        "description": "Update user's assistants",
        "tags": [
          "User"
        ],
        "operationId": "userUpdateAssistants",
        "parameters": [
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required" : true
          },
          {
            "name": "body",
            "description" : "User assistant",
            "in": "body",
            "schema" : {
              "type" : "object",
              "properties" : {
                "email_or_id" : {
                  "type" : "string"
                }
              }
            }
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "delete" : {
        "description": "Delete user's assistants",
        "tags": [
          "User"
        ],
        "operationId": "userDeleteAssistants",
        "parameters": [
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required" : true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}/password" :{
      "put":{
        "description" : "Update a user's password",
        "tags": [
          "User"
        ],
        "operationId": "userPassword",
        "parameters" :[
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required" : true
          },
          {
            "name": "body",
            "description" : "User password",
            "in": "body",
            "schema" : {
              "type" : "object",
              "properties" : {
                "password" :{
                  "type" :"string",
                  "format": "password"
                }
              }
            }
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}/picture" :{
      "put":{
        "description" : "update a user's picture",
        "tags": [
          "User"
        ],
        "operationId": "userPicture",
        "parameters" :[
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required" : true
          },
          {
            "name": "body",
            "description" : "User picture file, must be a jpg/jpeg file",
            "in": "body",
            "schema" : {
              "type" : "object",
              "properties" : {
                "pic_file" :{
                  "type" :"string",
                  "format": "url"
                }
              }
            }
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}/settings" : {
      "get" : {
        "description": "Get a user's settings on Zoom",
        "tags": [
          "User"
        ],
        "operationId": "userGetSettings",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "login_type",
            "type": "integer"
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "put" :{
        "description": "Update a user on Zoom",
        "tags": [
          "User"
        ],
        "operationId": "userUpdateSettings",
        "parameters": [
          {
            "in": "body",
            "name": "settings",
            "required": true,
            "description": "User Settings",
            "schema": {
              "type":"object",
              "properties":{
                "meeting":{
                  "type": "object",
                  "properties" : {
                    "chat" :{
                      "type": "boolean"
                    },
                    "private_chat" :{
                      "type": "boolean"
                    },
                    "auto_saving_chat" :{
                      "type": "boolean"
                    },
                    "attendee_on_hold" :{
                      "type": "boolean"
                    },
                    "entry_exit_chime" :{
                      "type": "string",
                      "enum": [
                        "host",
                        "all",
                        "none"
                      ]
                    },
                    "record_play_voice" :{
                      "type": "boolean"
                    },
                    "group_hd" :{
                      "type": "boolean"
                    },
                    "feedback" :{
                      "type": "boolean"
                    },
                    "co_host" :{
                      "type": "boolean"
                    },
                    "annotation" :{
                      "type": "boolean"
                    },
                    "polling" :{
                      "type": "boolean"
                    },
                    "non_verbal_feedback" :{
                      "type": "boolean"
                    },
                    "breakout_room" :{
                      "type": "boolean"
                    },
                    "remote_support" :{
                      "type": "boolean"
                    },
                    "file_transfer" :{
                      "type": "boolean"
                    },
                    "vitual_background" :{
                      "type": "boolean"
                    },
                    "closed_caption" :{
                      "type": "boolean"
                    },
                    "far_end_camera_control" :{
                      "type": "boolean"
                    },
                    "share_dual_camera" :{
                      "type": "boolean"
                    },
                    "attention_tracking" :{
                      "type": "boolean"
                    },
                    "waiting_room" :{
                      "type": "boolean"
                    }
                  }
                },
                "recording":{
                  "type": "object",
                  "properties" : {
                    "local_recording" :{
                      "type": "boolean"
                    },
                    "cloud_recording" :{
                      "type": "boolean"
                    },
                    "record_speaker_view" :{
                      "type": "boolean"
                    },
                    "recird_gallery_view" :{
                      "type": "boolean"
                    },
                    "auto_recording" :{
                      "type": "string",
                      "enum": [
                        "local",
                        "cloud"
                      ]
                    },
                    "record_audio_file" :{
                      "type": "boolean"
                    },
                    "save_chat_text" :{
                      "type": "boolean"
                    },
                    "show_timestamp" :{
                      "type": "boolean"
                    },
                    "auto_delete_cmr" :{
                      "type": "boolean"
                    },
                    "auto_delete_cmr_days" :{
                      "type": "integer"
                    }
                  }
                },
                "notification":{
                  "type": "object",
                  "properties" : {
                    "jbh_reminder" :{
                      "type": "boolean"
                    },
                    "cancel_meeting_reminder" :{
                      "type": "boolean"
                    },
                    "alternative_host_reminder" :{
                      "type": "boolean"
                    }
                  }
                },
                "security": {
                  "type": "object",
                  "properties" : {
                    "e2e_encryption" :{
                      "type": "boolean"
                    },
                    "pstn_password_protected" :{
                      "type": "boolean"
                    }
                  }
                },
                "feature":{
                  "type": "object",
                  "properties" : {
                    "meeting_capacity" :{
                      "type": "integer"
                    },
                    "large_meeting" :{
                      "type": "boolean"
                    },
                    "large_meeting_capacity" :{
                      "type": "integer"
                    },
                    "webinar" :{
                      "type": "boolean"
                    },
                    "webinar_capacity" :{
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}/status" :{
      "put":{
        "description" : "Update a user's status",
        "tags": [
          "User"
        ],
        "operationId": "userStatus",
        "parameters" :[
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required" : true
          },
          {
            "name": "body",
            "description" : "User status",
            "in": "body",
            "schema" : {
              "type" : "object",
              "properties" : {
                "status" :{
                  "type" :"string",
                  "enum" : ["active", "deactive"]
                }
              }
            }
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}/token" :{
      "get":{
        "description" : "Get a user's token on Zoom via user ID",
        "tags": [
          "User"
        ],
        "operationId": "userToken",
        "parameters" :[
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required" : true
          },
          {
            "name": "login_type",
            "description" : "User picture file, must be a jpg/jpeg file",
            "in": "query",
            "type": "integer",
            "enum":[0,1,99,100,101]
          },
          {
            "name": "type",
            "description" : "User token",
            "in": "query",
            "type": "string",
            "enum":[
              "token",
              "zpk"
            ]
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "delete":{
        "description" : "Revoke a user's token on Zoom via user ID",
        "tags": [
          "User"
        ],
        "operationId": "userTokenDelete",
        "parameters" :[
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required" : true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "User",
      "description": "User operations"
    },
    {
      "name": "Meeting",
      "description": "Meeting operations"
    },
    {
      "name": "Webinar",
      "description": "Webinar operations"
    }
  ],
  "externalDocs": {
    "description": "Zoom REST API Documentation",
    "url": "https://zoom.github.io/api"
  }
}