{
  "swagger": "2.0",
  "info": {
    "title": "Zoom REST API",
    "description": "API Description",
    "contact": {
      "name": "Zoom Developers",
      "url": "https://developer.zoom.us/",
      "email": "developer@zoom.us"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "2.0.0"
  },
  "host": "api.zoom.us",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "multipart/form-data"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "paths": {
    "/accounts" : {
      "get" : {
        "description" : "List all subaccounts",
        "tags": [
          "Accounts"
        ],
        "operationId":"accounts",
        "responses" : {
          "200": {
            "description" : "Account list returned"
          }
        }
      },
      "put" : {
        "description" : "Create an account",
        "tags" : [
          "Accounts"
        ],
        "operationId":"accountsCreate",
        "responses" : {
          "201" : {
            "description" : "Account created"
          }
        }
      }
    },
    "/accounts/{id}" : {
      "get" : {
        "description" : "List an account",
        "tags": [
          "Accounts"
        ],
        "operationId":"account",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses" : {
          "200": {
            "description" : "Account returned"
          }
        }
      },
      "patch" : {
        "description" : "Update an account",
        "tags" : [
          "Accounts"
        ],
        "operationId":"accountUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses" : {
          "204" : {
            "description" : "Account updated"
          }
        }
      },
      "delete" : {
        "description" : "Delete an account",
        "tags" : [
          "Accounts"
        ],
        "operationId":"accountDelete",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses" : {
          "204" : {
            "description" : "Account deleted"
          }
        }
      }
    },
    "/accounts/{id}/settings" : {
      "get" : {
        "description" : "Get an account's settings",
        "tags": [
          "Accounts"
        ],
        "operationId":"accountSettings",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses" : {
          "200": {
            "description" : "Account settings returned"
          }
        }
      },
      "patch" : {
        "description" : "Update an account's settings",
        "tags" : [
          "Accounts"
        ],
        "operationId":"accountSettingsUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses" : {
          "204" : {
            "description" : "Account settings updated"
          }
        }
      }
    },
    "/accounts/{id}/billing" : {
      "get" : {
        "description" : "Get an account's billing information",
        "tags": [
          "Accounts"
        ],
        "operationId":"accountBilling",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses" : {
          "200": {
            "description" : "Account billing information returned"
          }
        }
      },
      "patch" : {
        "description" : "Update an account's billing information",
        "tags" : [
          "Accounts"
        ],
        "operationId":"accountBillingUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses" : {
          "204" : {
            "description" : "Account billing information updated"
          }
        }
      }
    },
    "/accounts/{id}/plans" : {
      "get" : {
        "description" : "Get an account's plans",
        "tags": [
          "Accounts"
        ],
        "operationId":"accountPlans",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses" : {
          "200": {
            "description" : "Account plans returned"
          }
        }
      },
      "put" : {
        "description" : "Add to an account's plans",
        "tags" : [
          "Accounts"
        ],
        "operationId":"accountPlanAdd",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses" : {
          "204" : {
            "description" : "Account plans updated"
          }
        }
      }
    },
    "/accounts/{id}/plans/{plan}" : {
      "delete" : {
        "description" : "Remove an account's plans",
        "tags" : [
          "Accounts"
        ],
        "operationId":"accountPlanDelete",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "plan",
            "type": "string",
            "required": true
          }
        ],
        "responses" : {
          "204" : {
            "description" : "Account plans removed"
          }
        }
      }
    },
    "/users" : {
      "get" : {
        "description": "List all Users",
        "tags": [
          "User"
        ],
        "operationId": "users",
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "type": "string",
            "default": "active",
            "enum":["active","inactive","pending"]
          },
          {
            "in": "query",
            "name": "page_size",
            "type": "integer",
            "default": 30
          },
          {
            "in": "query",
            "name": "page_number",
            "type": "integer",
            "default": 1
          }
        ],
        "responses":{
          "200": {
            "description" : "User list returned"
          }
        }
      },
      "put": {
        "description": "Create a user on Zoom",
        "tags": [
          "User"
        ],
        "operationId": "userCreate",
        "parameters": [
          {
            "in": "body",
            "name": "user",
            "required": true,
            "description": "User",
            "schema": {
              "type": "object",
              "properties": {
                "action": {
                  "type":"string",
                  "title": "action",
                  "description": "Create User Type",
                  "enum":[
                    "create",
                    "autoCreate",
                    "custcreate",
                    "ssocreate"
                  ]
                },
                "user_info": {
                  "type":"object",
                  "properties":{
                    "email":{
                      "type": "string",
                      "format": "email"
                    },
                    "type":{
                      "type": "integer",
                      "enum":[0,1,2]
                    },
                    "first_name":{
                      "type": "string"
                    },
                    "last_name":{
                      "type": "string"
                    },
                    "password":{
                      "type": "string",
                      "format": "password"
                    }
                  }
                }
              },
              "required": ["action", "user_info"]
            }
          }
        ],
        "responses":{
          "201": {
            "description" : "User Created"
          },
          "409": {
            "description" : "User with that email already exists"
          }
        }
      }
    },
    "/users/{id}" : {
      "get" : {
        "description": "Get a user",
        "tags": [
          "User"
        ],
        "operationId": "user",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"User object returned"
          },
          "404" : {
            "description" : "User not found"
          }
        }
      },
      "patch" :{
        "description": "Update a user",
        "tags": [
          "User"
        ],
        "operationId": "userUpdate",
        "parameters": [
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "User",
            "schema": {
              "type":"object",
              "properties":{
                "first_name":{
                  "type": "string"
                },
                "last_name":{
                  "type": "string"
                },
                "type":{
                  "type": "integer",
                  "enum":[0,1,2]
                },
                "pmi":{
                  "type": "string"
                },
                "timezone":{
                  "type": "string",
                  "format": "date-time"
                },
                "dept":{
                  "type": "string"
                },
                "vanity_name":{
                  "type": "string"
                },
                "host_key":{
                  "type": "integer"
                }
              }
            }
          }
        ],
        "responses":{
          "204": {
            "description":"User updated"
          },
          "404" : {
            "description" : "User not found"
          }
        }
      },
      "delete" : {
        "description": "Delete a user on Zoom",
        "tags": [
          "User"
        ],
        "operationId": "userDelete",
        "parameters": [
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "action",
            "description" : "Delete Action Type<br/>**disassociate**: Dissassociate a User from account<br/>**delete**: Permanently Delete a user",
            "in": "query",
            "type": "string",
            "enum" : [
              "disassociate",
              "delete"
            ],
            "default": "disassociate"
          }
        ],
        "responses":{
          "204": {
            "description":"User updated"
          },
          "404" : {
            "description" : "User not found"
          }
        }
      }
    },
    "/users/{id}/assistants" : {
      "get" : {
        "description": "List user's assistants",
        "tags": [
          "User"
        ],
        "operationId": "userListAssistants",
        "parameters": [
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required" : true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "put" : {
        "description": "Update user's assistants",
        "tags": [
          "User"
        ],
        "operationId": "userUpdateAssistants",
        "parameters": [
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required" : true
          },
          {
            "name": "body",
            "description" : "User assistant",
            "in": "body",
            "schema" : {
              "type" : "object",
              "properties" : {
                "email_or_id" : {
                  "type" : "string"
                }
              }
            }
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}/assistants/{assistant}" : {
      "delete" : {
        "description": "Delete user's assistants",
        "tags": [
          "User"
        ],
        "operationId": "userDeleteAssistant",
        "parameters": [
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required" : true
          },
          {
            "name": "assistant",
            "description" : "Assistant",
            "in": "path",
            "type": "string",
            "required" : true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}/meetings" : {
      "get" :{
        "description": "Get user's meetings",
        "tags": [
          "Meeting"
        ],
        "operationId": "userGetMeetings",
        "parameters" : [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "post" :{
        "description": "Create meeting",
        "tags": [
          "Meeting"
        ],
        "operationId": "userCreateMeetings",
        "parameters" : [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true
          }
        ],
        "responses":{
          "201": {
            "description":"Meeting Created"
          }
        }
      }
    },
    "/users/{id}/meetings/{number}" : {
      "get" :{
        "description": "Get a meeting",
        "tags": [
          "Meeting"
        ],
        "operationId": "meetingGet",
        "parameters" : [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "patch" :{
        "description": "Update a meeting",
        "tags": [
          "Meeting"
        ],
        "operationId": "meetingUpdate",
        "parameters" : [
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "delete" :{
        "description": "Delete a meeting",
        "tags": [
          "Meeting"
        ],
        "operationId": "meetingDelete",
        "parameters" : [
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "occurence_id",
            "type": "string",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}/meetings/{number}/register" : {
      "get" :{
        "description": "",
        "tags": [
          "Meeting"
        ],
        "operationId": "meetingRegGet",
        "parameters" : [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "put" :{
        "description": "",
        "tags": [
          "Meeting"
        ],
        "operationId": "meetingRegCreate",
        "parameters" : [
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "occurence_id",
            "type": "string",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}/password" : {
      "put":{
        "description" : "Update a user's password",
        "tags": [
          "User"
        ],
        "operationId": "userPassword",
        "parameters" :[
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required" : true
          },
          {
            "name": "body",
            "description" : "User password",
            "in": "body",
            "schema" : {
              "type" : "object",
              "properties" : {
                "password" :{
                  "type" :"string",
                  "format": "password"
                }
              }
            }
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}/picture" : {
      "put":{
        "description" : "Update a user's picture",
        "tags": [
          "User"
        ],
        "operationId": "userPicture",
        "parameters" :[
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required" : true
          },
          {
            "name": "body",
            "description" : "User picture file, must be a jpg/jpeg file",
            "in": "formData",
            "type" : "file",
            "required" : true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}/settings" : {
      "get" : {
        "description": "Get a user's settings on Zoom",
        "tags": [
          "User"
        ],
        "operationId": "userGetSettings",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "login_type",
            "type": "integer"
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "put" :{
        "description": "Update a user on Zoom",
        "tags": [
          "User"
        ],
        "operationId": "userUpdateSettings",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "settings",
            "required": true,
            "description": "User Settings",
            "schema": {
              "type":"object",
              "properties":{
                "meeting":{
                  "type": "object",
                  "properties" : {
                    "chat" :{
                      "type": "boolean"
                    },
                    "private_chat" :{
                      "type": "boolean"
                    },
                    "auto_saving_chat" :{
                      "type": "boolean"
                    },
                    "attendee_on_hold" :{
                      "type": "boolean"
                    },
                    "entry_exit_chime" :{
                      "type": "string",
                      "enum": [
                        "host",
                        "all",
                        "none"
                      ]
                    },
                    "record_play_voice" :{
                      "type": "boolean"
                    },
                    "group_hd" :{
                      "type": "boolean"
                    },
                    "feedback" :{
                      "type": "boolean"
                    },
                    "co_host" :{
                      "type": "boolean"
                    },
                    "annotation" :{
                      "type": "boolean"
                    },
                    "polling" :{
                      "type": "boolean"
                    },
                    "non_verbal_feedback" :{
                      "type": "boolean"
                    },
                    "breakout_room" :{
                      "type": "boolean"
                    },
                    "remote_support" :{
                      "type": "boolean"
                    },
                    "file_transfer" :{
                      "type": "boolean"
                    },
                    "vitual_background" :{
                      "type": "boolean"
                    },
                    "closed_caption" :{
                      "type": "boolean"
                    },
                    "far_end_camera_control" :{
                      "type": "boolean"
                    },
                    "share_dual_camera" :{
                      "type": "boolean"
                    },
                    "attention_tracking" :{
                      "type": "boolean"
                    },
                    "waiting_room" :{
                      "type": "boolean"
                    }
                  }
                },
                "recording":{
                  "type": "object",
                  "properties" : {
                    "local_recording" :{
                      "type": "boolean"
                    },
                    "cloud_recording" :{
                      "type": "boolean"
                    },
                    "record_speaker_view" :{
                      "type": "boolean"
                    },
                    "recird_gallery_view" :{
                      "type": "boolean"
                    },
                    "auto_recording" :{
                      "type": "string",
                      "enum": [
                        "local",
                        "cloud"
                      ]
                    },
                    "record_audio_file" :{
                      "type": "boolean"
                    },
                    "save_chat_text" :{
                      "type": "boolean"
                    },
                    "show_timestamp" :{
                      "type": "boolean"
                    },
                    "auto_delete_cmr" :{
                      "type": "boolean"
                    },
                    "auto_delete_cmr_days" :{
                      "type": "integer"
                    }
                  }
                },
                "notification":{
                  "type": "object",
                  "properties" : {
                    "jbh_reminder" :{
                      "type": "boolean"
                    },
                    "cancel_meeting_reminder" :{
                      "type": "boolean"
                    },
                    "alternative_host_reminder" :{
                      "type": "boolean"
                    }
                  }
                },
                "feature":{
                  "type": "object",
                  "properties" : {
                    "meeting_capacity" :{
                      "type": "integer"
                    },
                    "large_meeting" :{
                      "type": "boolean"
                    },
                    "large_meeting_capacity" :{
                      "type": "integer"
                    },
                    "webinar" :{
                      "type": "boolean"
                    },
                    "webinar_capacity" :{
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}/status" : {
      "put":{
        "description" : "Update a user's status",
        "tags": [
          "User"
        ],
        "operationId": "userStatus",
        "parameters" :[
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required" : true
          },
          {
            "name": "body",
            "description" : "User status",
            "in": "body",
            "schema" : {
              "type" : "object",
              "properties" : {
                "status" :{
                  "type" :"string",
                  "enum" : ["active", "deactive"]
                }
              }
            }
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}/token" : {
      "get":{
        "description" : "Get a user's token on Zoom via user ID",
        "tags": [
          "User"
        ],
        "operationId": "userToken",
        "parameters" :[
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required" : true
          },
          {
            "name": "type",
            "description" : "User token",
            "in": "query",
            "type": "string",
            "enum":[
              "token",
              "zpk"
            ]
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "delete":{
        "description" : "Revoke a user's token on Zoom via user ID",
        "tags": [
          "User"
        ],
        "operationId": "userTokenDelete",
        "parameters" :[
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required" : true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}/webinars" : {
      "get" :{
        "description": "Get user's meetings",
        "tags": [
          "Webinar"
        ],
        "operationId": "userGetWebinars",
        "parameters" : [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "post" :{
        "description": "Create webinar",
        "tags": [
          "Webinar"
        ],
        "operationId": "userCreateWebinar",
        "responses":{
          "201": {
            "description":"Meeting Created"
          }
        }
      }
    },
    "/users/{id}/webinars/{number}" : {
      "get" :{
        "description": "Get a meeting",
        "tags": [
          "Webinar"
        ],
        "operationId": "webinarGet",
        "parameters" : [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "patch" :{
        "description": "Update a meeting",
        "tags": [
          "Webinar"
        ],
        "operationId": "webinarUpdate",
        "parameters" : [
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "delete" :{
        "description": "Delete a meeting",
        "tags": [
          "Webinar"
        ],
        "operationId": "webinarDelete",
        "parameters" : [
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "occurence_id",
            "type": "string",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}/webinars/{number}/panelists" : {
      "get" :{
        "description": "Get webinar panelists",
        "tags": [
          "Webinar"
        ],
        "operationId": "webinarPanelists",
        "parameters" : [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "put" :{
        "description": "Register panelist for webinar",
        "tags": [
          "Webinar"
        ],
        "operationId": "webinarPanelistCreate",
        "parameters" : [
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "occurence_id",
            "type": "string",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}/webinars/{number}/panelists/{panelist}" : {
      "get" :{
        "description": "Get webinar panelist",
        "tags": [
          "Webinar"
        ],
        "operationId": "webinarPanelistGet",
        "parameters" : [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          },
          {
            "in": "path",
            "name": "panelist",
            "type": "integer",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "delete" :{
        "description": "Cancel panelist for webinar",
        "tags": [
          "Webinar"
        ],
        "operationId": "webinarPanelistCancel",
        "parameters" : [
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "occurence_id",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "panelist",
            "type": "integer",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "patch" :{
        "description": "Update panelist for webinar",
        "tags": [
          "Webinar"
        ],
        "operationId": "webinarPanelistUpdate",
        "parameters" : [
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "occurence_id",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "panelist",
            "type": "integer",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}/webinars/{number}/register" : {
      "get" :{
        "description": "Get webinar registrations",
        "tags": [
          "Webinar"
        ],
        "operationId": "webinarRegList",
        "parameters" : [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "put" :{
        "description": "Register participant for webinar",
        "tags": [
          "Webinar"
        ],
        "operationId": "webinarRegCreate",
        "parameters" : [
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "occurence_id",
            "type": "string",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}/webinars/{number}/register/{registrant}" : {
      "get" :{
        "description": "Get webinar registrant",
        "tags": [
          "Webinar"
        ],
        "operationId": "webinarRegGet",
        "parameters" : [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          },
          {
            "in": "path",
            "name": "registrant",
            "type": "integer",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "delete" :{
        "description": "Cancel participant for webinar",
        "tags": [
          "Webinar"
        ],
        "operationId": "webinarRegCancel",
        "parameters" : [
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "occurence_id",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "registrant",
            "type": "integer",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      },
      "patch" :{
        "description": "Update participant for webinar",
        "tags": [
          "Webinar"
        ],
        "operationId": "webinarRegUpdate",
        "parameters" : [
          {
            "in": "path",
            "name": "number",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "name": "occurence_id",
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "registrant",
            "type": "integer",
            "required": true
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    },
    "/users/{id}/zpk" : {
      "get":{
        "description" : "Get a user's token on Zoom via user ID",
        "tags": [
          "User"
        ],
        "operationId": "userZPK",
        "parameters" :[
          {
            "name": "id",
            "description" : "User ID",
            "in": "path",
            "type": "string",
            "required" : true
          },
          {
            "name": "type",
            "description" : "User token",
            "in": "query",
            "type": "string",
            "default" : "token",
            "enum":[
              "token",
              "zpk"
            ]
          }
        ],
        "responses":{
          "200": {
            "description":"Success"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Accounts",
      "description": "Account operations"
    },
    {
      "name": "User",
      "description": "User operations"
    },
    {
      "name": "Meeting",
      "description": "Meeting operations"
    },
    {
      "name": "Webinar",
      "description": "Webinar operations"
    }
  ],
  "externalDocs": {
    "description": "Zoom REST API Documentation",
    "url": "https://zoom.github.io/api"
  },
  "securityDefinitions" : {
    "global": {
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "security" : [{"global":[]}]
}