{
    "swagger": "2.0",
    "info": {
        "title": "Zoom REST API",
        "description": "API Description",
        "contact": {
            "name": "Zoom Developers",
            "url": "https://zoom.us/developer",
            "email": "developer@zoom.us"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "host": "api.zoom.us",
    "basePath": "/v1",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/x-www-form-urlencoded"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/chat/get": {
            "post": {
                "description": "Get chat messages for a specified period.\n\n",
                "tags": [
                    "Chat"
                ],
                "operationId": "chatGet",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "access_token",
                        "required": true,
                        "description": "Archived chat messages access token. Admin who has the view privilege of Archived chat messages will get it."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "session_id",
                        "required": true,
                        "description": "Session Id of chat messages."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "from",
                        "required": true,
                        "description": "Start date."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "to",
                        "required": true,
                        "description": "End date."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30. Max of 30 records."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "next_page_token",
                        "description": "Used to paginate through large result sets.  A next page token will be returned whenever the set of available chat history list exceeds 100.  The expiration period is 30 minutes."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "session_id": "unique_id",
                                "group_name": "zoom",
                                "from": "2016-01-16",
                                "to": "2016-01-22",
                                "page_size": 30,
                                "page_count": 1,
                                "next_page_token": "",
                                "chat_messages": [
                                    {
                                        "message": "test1",
                                        "sender": "",
                                        "date_time": "2016-01-18T06:40:56Z"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/chat/list": {
            "post": {
                "description": "Get chat history list for a specified time period.\n\n",
                "tags": [
                    "Chat"
                ],
                "operationId": "chatList",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "access_token",
                        "required": true,
                        "description": "Archived chat messages access token. Admin who has the view privilege of Archived chat messages will get it."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "from",
                        "required": true,
                        "description": "Start date."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "to",
                        "required": true,
                        "description": "End date."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30. Max of 30 records."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "email",
                        "description": "Email query condition."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "next_page_token",
                        "description": "Used to paginate through large result sets.  A next page token will be returned whenever the set of available chat history list exceeds 100.  The expiration period is 30 minutes."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "from": "2016-01-16",
                                "to": "2016-01-22",
                                "page_size": 30,
                                "page_count": 1,
                                "next_page_token": "",
                                "chat_list": [
                                    {
                                        "session_id": "unique_id",
                                        "type": "Group",
                                        "participants": "",
                                        "group_name": "zoom test1",
                                        "last_message_send_time": "2016-01-18T06:40:56Z"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/group/create": {
            "post": {
                "description": "Create a group on Zoom, return the new group info.\n\n",
                "tags": [
                    "Group"
                ],
                "operationId": "groupCreate",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "name",
                        "required": true,
                        "description": "Group name, must be unique in one account."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "group_id": "unique_id",
                                "account_id": "unique_id",
                                "name": "New Group Test",
                                "total_members": 0
                            }
                        }
                    }
                }
            }
        },
        "/group/delete": {
            "post": {
                "description": "Delete a group on Zoom, return the deleted group ID.\n\n",
                "tags": [
                    "Group"
                ],
                "operationId": "groupDelete",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "id": "unique_id",
                                "deleted_at": "2015-08-20T08:41:58Z",
                                "deleted_count": 1
                            }
                        }
                    }
                }
            }
        },
        "/group/edit": {
            "post": {
                "description": "Edit a group on Zoom, return the new group info.\n\n",
                "tags": [
                    "Group"
                ],
                "operationId": "groupEdit",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "name",
                        "description": "Group name, must be unique in one account."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "group_id": "unique_id",
                                "account_id": "unique_id",
                                "name": "New Group Test",
                                "total_members": 0
                            }
                        }
                    }
                }
            }
        },
        "/group/get": {
            "post": {
                "description": "Get a group on Zoom via ID, return the group info.\n\n",
                "tags": [
                    "Group"
                ],
                "operationId": "groupGet",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "group_id": "unique_id",
                                "account_id": "unique_id",
                                "name": "Group Test",
                                "total_members": 2
                            }
                        }
                    }
                }
            }
        },
        "/group/list": {
            "post": {
                "description": "List all groups on your Zoom account.\n\n",
                "tags": [
                    "Group"
                ],
                "operationId": "groupList",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "api_key",
                        "required": true,
                        "description": "Your API Key"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "api_secret",
                        "required": true,
                        "description": "Your API Secret"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "total_records": 1,
                                "groups": [
                                    {
                                        "group_id": "unique_id",
                                        "account_id": "unique_id",
                                        "name": "Group Test1",
                                        "total_members": 40
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/group/member/add": {
            "post": {
                "description": "Add members to a group on Zoom.\n\n",
                "tags": [
                    "Group"
                ],
                "operationId": "groupMemberAdd",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "member_ids",
                        "required": true,
                        "description": "The member IDs, separated by comma"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "id": "unique_id",
                                "add_at": "2015-08-20T08:57:38Z",
                                "add_count": 2
                            }
                        }
                    }
                }
            }
        },
        "/group/member/delete": {
            "post": {
                "description": "Delete members of a group on Zoom.\n\n",
                "tags": [
                    "Group"
                ],
                "operationId": "groupMemberDelete",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "member_ids",
                        "required": true,
                        "description": "The member IDs, separated by comma"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "id": "unique_id",
                                "deleted_at": "2015-08-20T08:57:38Z",
                                "deleted_count": 2
                            }
                        }
                    }
                }
            }
        },
        "/group/member/list": {
            "post": {
                "description": "Lists the members of a group on Zoom.\n\n",
                "tags": [
                    "Group"
                ],
                "operationId": "groupMemberList",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "page_count": 1,
                                "page_number": 1,
                                "page_size": 30,
                                "total_records": 1,
                                "members": [
                                    {
                                        "id": "unique_id",
                                        "email": "email_address",
                                        "first_name": "Zoomie",
                                        "last_name": "Userton",
                                        "pic_url": "https://ssotest.zoom.us/p/6EoubcvJR7eF2grNXJkrHA/f2003a9c-3095-4865-8536-03cc6f211e86-9569"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/h323/device/create": {
            "post": {
                "description": "Create a H.323/SIP Device on your Zoom account.\n\n",
                "tags": [
                    "Device"
                ],
                "operationId": "deviceDeviceCreate",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "name",
                        "required": true,
                        "description": "Display Name."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "ip",
                        "required": true,
                        "description": "IP Address or H.323 Extension."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "protocol_type",
                        "default": "1",
                        "description": "Protocol type. 1 means H.323, 2 means SIP."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "encryption_type",
                        "default": "2",
                        "description": "Encryption type. 0 means No, 1 means Yes, 2 means Auto."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "id": "unique_id",
                                "name": "New Device",
                                "ip": "192.168.1.10",
                                "protocol_type": 1,
                                "encryption_type": 2
                            }
                        }
                    }
                }
            }
        },
        "/h323/device/delete": {
            "post": {
                "description": "Delete a H.323/SIP Device on your Zoom account.\n\n",
                "tags": [
                    "Device"
                ],
                "operationId": "deviceDeviceDelete",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Device ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "id": "unique_id",
                                "deleted_at": "2017-03-14T09:27:15Z"
                            }
                        }
                    }
                }
            }
        },
        "/h323/device/list": {
            "post": {
                "description": "List H.323/SIP Devices on your Zoom account.\n\n",
                "tags": [
                    "Device"
                ],
                "operationId": "deviceDeviceList",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "page_count": 1,
                                "page_number": 1,
                                "page_size": 30,
                                "total_records": 1,
                                "devices": [
                                    {
                                        "id": "unique_id",
                                        "name": "New Device",
                                        "ip": "192.168.1.10",
                                        "protocol_type": 1,
                                        "encryption_type": 2
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/h323/device/update": {
            "post": {
                "description": "Update a H.323/SIP Device on your Zoom account.\n\n",
                "tags": [
                    "Device"
                ],
                "operationId": "deviceDeviceUpdate",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Device ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "name",
                        "description": "Display Name."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "ip",
                        "description": "IP Address or H.323 Extension."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "protocol_type",
                        "default": "1",
                        "description": "Protocol type. 1 means H.323, 2 means SIP."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "encryption_type",
                        "default": "2",
                        "description": "Encryption type. 0 means No, 1 means Yes, 2 means Auto."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "id": "unique_id",
                                "updated_at": "2017-03-14T09:27:03Z"
                            }
                        }
                    }
                }
            }
        },
        "/im/group/create": {
            "post": {
                "description": "Create a IM group on Zoom, return the new group info.\n\n",
                "tags": [
                    "IM Group"
                ],
                "operationId": "imGroupGroupCreate",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "name",
                        "required": true,
                        "description": "Group name, must be unique in one account."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "type",
                        "default": "Normal",
                        "description": "Group type, Normal: normal group, Restricted: Restricted group, Shared: Shared group."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_search_by_domain",
                        "default": false,
                        "description": "Others in the same email domain can search members."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_search_by_account",
                        "default": false,
                        "description": "Others under same account can search members."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_search_by_ma",
                        "default": false,
                        "description": "Others under same master account, including all sub accounts can search members."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "group_id": "unique_id",
                                "account_id": "unique_id",
                                "name": "New Group Test",
                                "total_members": 0,
                                "option_search_by_domain": false,
                                "option_search_by_account": false,
                                "option_search_by_ma_account": false
                            }
                        }
                    }
                }
            }
        },
        "/im/group/delete": {
            "post": {
                "description": "Delete a IM group on Zoom, return the deleted group ID.\n\n",
                "tags": [
                    "IM Group"
                ],
                "operationId": "imGroupGroupDelete",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "id": "unique_id",
                                "deleted_at": "2015-08-20T08:41:58Z",
                                "deleted_count": 1
                            }
                        }
                    }
                }
            }
        },
        "/im/group/edit": {
            "post": {
                "description": "Edit a IM group on Zoom, return the new group info.\n\n",
                "tags": [
                    "IM Group"
                ],
                "operationId": "imGroupGroupEdit",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "name",
                        "description": "Group name, must be unique in one account."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "type",
                        "default": "Normal",
                        "description": "Group type, Normal: normal group, Restricted: Restricted group, Shared: Shared group."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_search_by_domain",
                        "default": false,
                        "description": "Others in the same email domain can search members."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_search_by_account",
                        "default": false,
                        "description": "Others under same account can search members."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_search_by_ma",
                        "default": false,
                        "description": "Others under same master account, including all sub accounts can search members."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "group_id": "unique_id",
                                "account_id": "unique_id",
                                "name": "New Group Test",
                                "total_members": 0,
                                "option_search_by_domain": false,
                                "option_search_by_account": true,
                                "option_search_by_ma_account": false
                            }
                        }
                    }
                }
            }
        },
        "/im/group/get": {
            "post": {
                "description": "Get a IM group on Zoom via ID, return the group info.\n\n",
                "tags": [
                    "IM Group"
                ],
                "operationId": "imGroupGroupGet",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "group_id": "unique_id",
                                "account_id": "unique_id",
                                "name": "Group Test",
                                "total_members": 2,
                                "option_search_by_domain": false,
                                "option_search_by_account": true,
                                "option_search_by_ma_account": false
                            }
                        }
                    }
                }
            }
        },
        "/im/group/list": {
            "post": {
                "description": "List all IM groups on your Zoom account.\n\n",
                "tags": [
                    "IM Group"
                ],
                "operationId": "imGroupGroupList",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "api_key",
                        "required": true,
                        "description": "Your API Key"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "api_secret",
                        "required": true,
                        "description": "Your API Secret"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "total_records": 1,
                                "groups": [
                                    {
                                        "group_id": "unique_id",
                                        "account_id": "unique_id",
                                        "name": "Group Test1",
                                        "total_members": 40,
                                        "option_search_by_domain": false,
                                        "option_search_by_account": true,
                                        "option_search_by_ma_account": false,
                                        "last_modified_time": "2016-04-16T07:45:41Z"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/im/group/member/delete": {
            "post": {
                "description": "Delete members of a IM group on Zoom.\n\n",
                "tags": [
                    "IM Group"
                ],
                "operationId": "imGroupGroupMemberDelete",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "member_ids",
                        "required": true,
                        "description": "The member IDs, separated by comma"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "id": "unique_id",
                                "deleted_at": "2015-08-20T08:57:38Z",
                                "deleted_count": 2
                            }
                        }
                    }
                }
            }
        },
        "/im/group/member/list": {
            "post": {
                "description": "Lists the members of a IM group on Zoom.\n\n",
                "tags": [
                    "IM Group"
                ],
                "operationId": "imGroupGroupMemberList",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "page_count": 1,
                                "page_number": 1,
                                "page_size": 30,
                                "total_records": 1,
                                "members": [
                                    {
                                        "id": "unique_id",
                                        "email": "email_address",
                                        "first_name": "Zoomie",
                                        "last_name": "Userton",
                                        "pic_url": "https://ssotest.zoom.us/p/6EoubcvJR7eF2grNXJkrHA/f2003a9c-3095-4865-8536-03cc6f211e86-9569"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/ma/account/billing/update": {
            "post": {
                "description": "Update Billing Information for a sub account of the master account on Zoom.\n\n",
                "tags": [
                    "Account"
                ],
                "operationId": "accountBillingUpdate",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "account_id",
                        "required": true,
                        "description": "The sub account ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "first_name",
                        "description": "Sold To Contact’s first name."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "last_name",
                        "description": "Sold To Contact’s last name."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "phone_number",
                        "description": "Sold To Contact’s phone number."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "address",
                        "description": "Sold To Contact’s address."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "apt",
                        "description": "Sold To Contact’s Apt/Suite."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "city",
                        "description": "Sold To Contact’s city."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "country",
                        "description": "Sold To Contact’s country. For this parameter value please refer to the id value in country list JSON file"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "state",
                        "description": "Sold To Contact’s state. If country value is \"US\" or \"CA\", for this parameter value please refer to the id value in state list JSON file"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "zip",
                        "description": "Sold To Contact’s zip/postal."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "id": "unique_id ",
                                "updated_at": "2012-11-25T12:00:00Z"
                            }
                        }
                    }
                }
            }
        },
        "/ma/account/create": {
            "post": {
                "description": "Create a sub account of the master account on Zoom, return the created sub account id and owner id.\n\n<aside class=\"notice\">Your account must be a master account and have this privilege to create sub account. Zoom only assign this privilege to trusted partner.</aside>\n\n<aside class=\"notice\">User will not receive the confirmation email.</aside>\n\n",
                "tags": [
                    "Account"
                ],
                "operationId": "accountCreate",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "email",
                        "required": true,
                        "description": "A valid email address. It must be unique in Zoom service. If an email address is existed, a \"user existing\" error message will be return."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "first_name",
                        "required": true,
                        "description": "User’s first name."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "last_name",
                        "required": true,
                        "description": "User’s last name."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "password",
                        "required": true,
                        "description": "User’s password."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_share_rc",
                        "default": false,
                        "description": "Enable Share Virtual Room Connector."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "share_rc",
                        "description": "Virtual Room Connector, multiple value separated by comma."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_share_mc",
                        "default": false,
                        "description": "Enable Share Meeting Connector."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "share_mc",
                        "description": "Meeting Connector, multiple value separated by comma."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "pay_mode",
                        "default": "1",
                        "description": "Who will pay for this account? 0 means Sub Account Holders Pays, 1 means Master Account Holder Pays."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "collection_method",
                        "default": "1",
                        "description": "Collection Method? 0 means Automatic (billing online), 1 means Manual (send invoice)."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_pstn",
                        "default": true,
                        "description": "The value should be true or false, by default is true."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_enforce_login",
                        "default": false,
                        "description": "Only signed-in users can join this meeting."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_enforce_login_sd",
                        "default": false,
                        "description": "Only signed-in users with specified domains can join meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "enforce_login_domains",
                        "description": "Domains of signed-in users."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "meeting_capacity",
                        "description": "Account’ meeting capacity, max of 100."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "disable_cmr_reminder",
                        "default": false,
                        "description": "Disable cloud recording reminder."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_only_host_download_cmr",
                        "default": false,
                        "description": "Enable Only the host can download cloud recordings."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_same_account_access_cmr",
                        "default": false,
                        "description": "Enable Only users on my account can access cloud recordings."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "id": "unique_id",
                                "owner_id": "unique_id",
                                "owner_email": "email_address",
                                "created_at": "2012-11-25T12:00:00Z"
                            }
                        }
                    }
                }
            }
        },
        "/ma/account/delete": {
            "post": {
                "description": "Delete the sub account.\n\n",
                "tags": [
                    "Account"
                ],
                "operationId": "accountDelete",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "account_id",
                        "required": true,
                        "description": "The sub account ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "id": "unique_id",
                                "deleted_at": "2012-11-25T12:00:00Z"
                            }
                        }
                    }
                }
            }
        },
        "/ma/account/get": {
            "post": {
                "description": "Get a sub account of the master account on Zoom, return the created sub account id and owner id.\n\n<aside class=\"notice\">Your account must be a master account and have this privilege to get sub account. Zoom only assign this privilege to trusted partner.</aside>\n\n<aside class=\"notice\">This API will let the master account owner to get sub account API key pair. This is a private feature and needs to be enabled by zoom support. If you need this function, please open a case with support to enable this API.</aside>\n\n",
                "tags": [
                    "Account"
                ],
                "operationId": "accountGet",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "account_id",
                        "required": true,
                        "description": "The sub account ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "id": "unique_id",
                                "owner_id": "unique_id",
                                "owner_email": "email_address",
                                "created_at": "2012-11-25T12:00:00Z"
                            }
                        }
                    }
                }
            }
        },
        "/ma/account/list": {
            "post": {
                "description": "List all the sub account under the master account.\n\n",
                "tags": [
                    "Account"
                ],
                "operationId": "accountList",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "api_key",
                        "required": true,
                        "description": "Your API Key"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "api_secret",
                        "required": true,
                        "description": "Your API Secret"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "page_count": 1,
                                "page_number": 1,
                                "page_size": 30,
                                "total_records": 3,
                                "subAccounts": [
                                    {
                                        "id": "unique_id",
                                        "owner_email": "email_address",
                                        "created_at": "2015-01-27T140508Z"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/ma/account/plan/add": {
            "post": {
                "description": "Add a plan for a sub account of the master account on Zoom.\n\n<aside class=\"notice\">Only for the sub account which is a paid account and paid by master account.</aside>\n\n<aside class=\"notice\">Only add an Additional plan for a sub account.</aside>\n\n",
                "tags": [
                    "Account"
                ],
                "operationId": "accountPlanAdd",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "account_id",
                        "required": true,
                        "description": "The sub account ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "plan",
                        "required": true,
                        "description": "Additional Plan. See [Plans](#plans) for more details"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "id": "unique_id",
                                "updated_at": "2012-11-25T12:00:00Z"
                            }
                        }
                    }
                }
            }
        },
        "/ma/account/plan/get": {
            "post": {
                "description": "Get plans information for a sub account of the master account on Zoom.\n\n",
                "tags": [
                    "Account"
                ],
                "operationId": "accountPlanGet",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "account_id",
                        "required": true,
                        "description": "The sub account ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "email": "email_address",
                                "first_name": "Zoomie",
                                "last_name": "Userton",
                                "phone_number": "123456789",
                                "address": "address",
                                "apt": "apt",
                                "city": "city",
                                "state": "state",
                                "zip": "12345",
                                "country": "country",
                                "plan_base": {
                                    "type": "monthly",
                                    "hosts": 9
                                },
                                "plan_zoom_rooms": {
                                    "type": "zroom_monthly",
                                    "hosts": 9
                                },
                                "plan_room_connector": {
                                    "type": "roomconnector_yearly",
                                    "hosts": 9
                                },
                                "plan_large_meeting": [
                                    {
                                        "type": "large100_monthly",
                                        "hosts": 9
                                    },
                                    {
                                        "type": "large200_monthly",
                                        "hosts": 9
                                    },
                                    {
                                        "type": "large300_yearly",
                                        "hosts": 9
                                    },
                                    {
                                        "type": "large500_yearly",
                                        "hosts": 9
                                    }
                                ],
                                "plan_webinar": [
                                    {
                                        "type": "webinar100_monthly",
                                        "hosts": 9
                                    },
                                    {
                                        "type": "webinar500_yearly",
                                        "hosts": 9
                                    },
                                    {
                                        "type": "webinar1000_yearly",
                                        "hosts": 9
                                    },
                                    {
                                        "type": "webinar3000_monthly",
                                        "hosts": 9
                                    },
                                    {
                                        "type": "webinar5000_monthly",
                                        "hosts": 9
                                    },
                                    {
                                        "type": "webinar10000_monthly",
                                        "hosts": 9
                                    }
                                ],
                                "plan_recording": "cmr_monthly_commitment_500",
                                "plan_audio": {
                                    "type": "tollfree_monthly_commitment_100",
                                    "tollfree_country": "AT",
                                    "premium_country": "TW",
                                    "callout": 1,
                                    "ddi_numbers": 66
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ma/account/plan/subscribe": {
            "post": {
                "description": "Subscribe plans for a sub account of the master account on Zoom.\n\n",
                "tags": [
                    "Account"
                ],
                "operationId": "accountPlanSubscribe",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "account_id",
                        "required": true,
                        "description": "The sub account ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "first_name",
                        "required": true,
                        "description": "Sold To Contact’s first name."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "last_name",
                        "required": true,
                        "description": "Sold To Contact’s last name."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "phone_number",
                        "required": true,
                        "description": "Sold To Contact’s phone number."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "address",
                        "required": true,
                        "description": "Sold To Contact’s address."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "apt",
                        "description": "Sold To Contact’s Apt/Suite."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "city",
                        "required": true,
                        "description": "Sold To Contact’s city."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "country",
                        "required": true,
                        "description": "Sold To Contact’s country. For this parameter value please refer to the id value in country list JSON file"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "state",
                        "required": true,
                        "description": "Sold To Contact’s state. If country value is \"US\" or \"CA\", for this parameter value please refer to the id value in state list JSON file"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "zip",
                        "required": true,
                        "description": "Sold To Contact’s zip/postal."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "plan_base",
                        "required": true,
                        "description": "Base Plan.  See [Plans](#plans) for more details"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "plan_zoom_rooms",
                        "description": "Additional Zoom Rooms Plan.  See [Plans](#plans) for more details"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "plan_room_connector",
                        "description": "Additional H.323/SIP Room Connector Plan.  See [Plans](#plans) for more details"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "plan_large_meeting",
                        "description": "Additional Large Meeting Plan.  See [Plans](#plans) for more details"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "plan_webinar",
                        "description": "Additional Webinar Plan.  See [Plans](#plans) for more details"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "plan_recording",
                        "description": "Additional Cloud Recording Plan.  See [Plans](#plans) for more details"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "plan_audio",
                        "description": "Additional Audio Conferencing Plan.  See [Plans](#plans) for more details"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "email": "email_address",
                                "first_name": "Zoomie",
                                "last_name": "Userton",
                                "phone_number": "123456789",
                                "address": "address",
                                "apt": "apt",
                                "city": "city",
                                "state": "state",
                                "zip": "12345",
                                "country": "country",
                                "plan_base": {
                                    "type": "monthly",
                                    "hosts": 9
                                },
                                "plan_zoom_rooms": {
                                    "type": "zroom_monthly",
                                    "hosts": 9
                                },
                                "plan_room_connector": {
                                    "type": "roomconnector_yearly",
                                    "hosts": 9
                                },
                                "plan_large_meeting": [
                                    {
                                        "type": "large200_monthly",
                                        "hosts": 9
                                    },
                                    {
                                        "type": "large300_yearly",
                                        "hosts": 9
                                    },
                                    {
                                        "type": "large500_yearly",
                                        "hosts": 9
                                    }
                                ],
                                "plan_webinar": [
                                    {
                                        "type": "webinar100_monthly",
                                        "hosts": 9
                                    },
                                    {
                                        "type": "webinar500_yearly",
                                        "hosts": 9
                                    },
                                    {
                                        "type": "webinar1000_yearly",
                                        "hosts": 9
                                    },
                                    {
                                        "type": "webinar3000_monthly",
                                        "hosts": 9
                                    },
                                    {
                                        "type": "webinar5000_monthly",
                                        "hosts": 9
                                    },
                                    {
                                        "type": "webinar10000_monthly",
                                        "hosts": 9
                                    }
                                ],
                                "plan_recording": "cmr_monthly_commitment_500",
                                "plan_audio": {
                                    "type": "tollfree_monthly_commitment_100",
                                    "tollfree_country": "AT",
                                    "premium_country": "TW",
                                    "callout": 1,
                                    "ddi_numbers": 66
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ma/account/plan/update": {
            "post": {
                "description": "Update a plan for a sub account of the master account on Zoom.\n\n<aside class=\"notice\">Only for the sub account which is a paid account and paid by master account.</aside>\n\n<aside class=\"notice\">Could update a base plan or an additional plan.</aside>\n\n",
                "tags": [
                    "Account"
                ],
                "operationId": "accountPlanUpdate",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "account_id",
                        "required": true,
                        "description": "The sub account ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "type",
                        "required": true,
                        "default": "1",
                        "description": "Plan Type. 1 means Base Plan, 2 means Additional Plan."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "plan",
                        "required": true,
                        "description": "A Base Plan or an Additional Plan. See [Plans](#plans) for more details"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "id": "w40hUJRpRmmkx4uPXczdHg",
                                "updated_at": "2012-11-25T12:00:00Z"
                            }
                        }
                    }
                }
            }
        },
        "/ma/account/update": {
            "post": {
                "description": "Update a sub account of the master account on Zoom, return the updated sub account id.\n\n",
                "tags": [
                    "Account"
                ],
                "operationId": "accountUpdate",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "account_id",
                        "required": true,
                        "description": "The sub account ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "enable_share_rc",
                        "description": "Enable Share Virtual Room Connector."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "share_rc",
                        "description": "Virtual Room Connector, multiple value separated by comma."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "enable_share_mc",
                        "description": "Enable Share Meeting Connector."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "share_mc",
                        "description": "Meeting Connector, multiple value separated by comma."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "pay_mode",
                        "description": "Who will pay for this account? 0 means Sub Account Holders Pays, 1 means Master Account Holder Pays."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "collection_method",
                        "description": "Collection Method? 0 means Automatic (billing online), 1 means Manual (send invoice)."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_pstn",
                        "default": true,
                        "description": "The value should be true or false, by default is true."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_call_out",
                        "default": false,
                        "description": "The value should be true or false. If it is true, the user under this account will follow MA call out type."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_enforce_login",
                        "default": false,
                        "description": "Only signed-in users can join this meeting."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_enforce_login_sd",
                        "default": false,
                        "description": "Only signed-in users with specified domains can join meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "enforce_login_domains",
                        "description": "Domains of signed-in users."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "meeting_capacity",
                        "description": "Account’ meeting capacity, max of 100."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "disable_cmr_reminder",
                        "default": false,
                        "description": "Disable cloud recording reminder."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_only_host_download_cmr",
                        "default": false,
                        "description": "Enable Only the host can download cloud recordings."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_same_account_access_cmr",
                        "default": false,
                        "description": "Enable Only users on my account can access cloud recordings."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "id": "unique_id",
                                "updated_at": "2012-11-25T12:00:00Z"
                            }
                        }
                    }
                }
            }
        },
        "/mc/recording/list": {
            "post": {
                "description": "Lists all the cloud recordings meetings on a Meeting Connector\n\n",
                "tags": [
                    "Cloud Recording"
                ],
                "operationId": "mcRecordingList",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "host_id",
                        "required": true,
                        "description": "Meeting host user ID. Can be any user under this account."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "meeting_number",
                        "description": "The meeting number."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "from",
                        "description": "The meeting start time after this date, MM/dd/yyyy hh:mm a. For example: 11/05/2014 09:05 pm. Use the host’s time zone, if host has not set time zone, will use GMT."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "to",
                        "description": "The meeting start time before this date, MM/dd/yyyy hh:mm a."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30. Max of 300 meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "page_count": 1,
                                "page_number": 1,
                                "page_size": 15,
                                "total_records": 1,
                                "meetings": [
                                    {
                                        "uuid": "unique_id",
                                        "meeting_number": "123456789",
                                        "host_id": "unique_id",
                                        "account_id": "unique_id",
                                        "topic": "Meeting Topic",
                                        "start_time": "2014-11-06T04:10:10Z",
                                        "timezone": "America/Los_Angeles",
                                        "duration": 999,
                                        "total_size": 4324324324,
                                        "recording_count": 1,
                                        "recording_files": [
                                            {
                                                "id": "unique_id",
                                                "meeting_id": "unique_id",
                                                "recording_start": "2014-11-06T04:14:10Z",
                                                "recording_end": "2014-11-06T04:24:10Z",
                                                "file_type": "M4A",
                                                "file_size": 432432,
                                                "play_url": "https://brand.zoom.us/recording/play/HzMyuI23bqxlJLVJLrww3L9ZuFeZEvYtG0vQ6pHhp6Twr6GPjX4Qks_CJak7jrU2",
                                                "download_url": "https://brand.zoom.us/recording/download/HzMyuI23bqxlJLVJLrww3L9ZuFeZEvYtG0vQ6pHhp6Twr6GPjX4Qks_CJak7jrU2"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/meeting/create": {
            "post": {
                "description": "Create a meeting on Zoom, return the created meeting URL\n\n",
                "tags": [
                    "Meeting"
                ],
                "operationId": "meetingCreate",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "host_id",
                        "required": true,
                        "description": "Meeting host user ID. Can be any user under this account. Cannot be updated after creation."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "type",
                        "required": true,
                        "default": "2",
                        "description": "Meeting type: 1 means instant meeting (Only used for host to start it as soon as created). 2 means normal scheduled meeting. 3 means a recurring meeting with no fixed time. 8 means a recurring meeting with fixed time."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "topic",
                        "required": true,
                        "description": "Meeting topic. Max of 300 characters."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "start_time",
                        "description": "Meeting start time in ISO datetime format. For scheduled meeting and recurring meeting with fixed time. Should be UTC time, such as 2012-11-25T12:00:00Z."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "duration",
                        "description": "Meeting duration (minutes). For scheduled meeting only."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "timezone",
                        "description": "Timezone to format start_time, like \"America/Los_Angeles\". For scheduled meeting only. For this parameter value please refer to the id value in timezone list JSON file."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "password",
                        "default": " 10 characters",
                        "description": "Meeting password. Password may only contain the following characters: [a-z A-Z 0-9 @ - _"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "recurrence",
                        "description": "Recurrence Meeting Settings. For recurring meeting with fixed time only. See [Recurrence Object](#recurrence-object) for more details."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_registration",
                        "default": false,
                        "description": "Registration required."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "registration_type",
                        "default": "1",
                        "description": "Registration type. 1 means Attendees register once and can attend any of the occurrences, 2 means Attendees need to register for each occurrence to attend, 3 means Attendees register once and can choose one or more occurrences to attend. For recurring meeting with fixed time only."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_jbh",
                        "default": false,
                        "description": "Join meeting before host start the meeting. Only for scheduled or recurring meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "option_start_type",
                        "default": "video",
                        "description": "Meeting start type. Can be \"video\" or \"screen_share\". (deprecated)"
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_host_video",
                        "default": true,
                        "description": "Start video when host join meeting."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_participants_video",
                        "default": true,
                        "description": "Start video when participants join meeting."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_cn_meeting",
                        "default": false,
                        "description": "Host meeting in China."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_in_meeting",
                        "default": false,
                        "description": "Host meeting in India."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "option_audio",
                        "default": "both",
                        "description": "Meeting audio options. Can be \"both\", \"telephony\", \"voip\"."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_enforce_login",
                        "default": false,
                        "description": "Only signed-in users can join this meeting."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "option_enforce_login_domains",
                        "description": "Only signed-in users with specified domains can join meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "option_alternative_hosts",
                        "description": "Alternative hosts."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "option_alternative_host_ids",
                        "description": "Alternative hosts IDs."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_use_pmi",
                        "default": false,
                        "description": "Use Personal Meeting ID. Only for scheduled meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "option_auto_record_type",
                        "default": "local",
                        "description": "Automatically record type. Can be \"local\", \"cloud\" or \"none\"."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "uuid": "unique_id",
                                "id": "123456789",
                                "start_url": "https://zoom.us/s/123456789?zak=xxxxxx",
                                "join_url": "https://zoom.us/j/123456789",
                                "created_at": "2012-11-25T12:00:00Z",
                                "host_id": "unique_id",
                                "topic": "Topic for this meeting",
                                "type": 2,
                                "option_jbh": false,
                                "option_start_type": "video",
                                "start_time": "2012-11-25T12:00:00Z",
                                "duration": 30,
                                "timezone": "America/Los_Angeles",
                                "password": "123",
                                "h323_password": "123456",
                                "option_host_video": false,
                                "option_participants_video": false,
                                "option_audio": "both",
                                "option_enforce_login": false,
                                "option_enforce_login_domains ": "",
                                "option_alternative_hosts": "",
                                "status": 0
                            }
                        }
                    }
                }
            }
        },
        "/meeting/delete": {
            "post": {
                "description": "Delete a meeting on Zoom, return the deleted meeting ID.\n\n",
                "tags": [
                    "Meeting"
                ],
                "operationId": "meetingDelete",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Meeting ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "host_id",
                        "required": true,
                        "description": "Meeting host user ID. Can be any user under this account."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "occurrence_id",
                        "description": "Occurrence ID, could get this value from Meeting Get API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "id": "123456789",
                                "deleted_at": "2012-11-25T12:00:00Z"
                            }
                        }
                    }
                }
            }
        },
        "/meeting/end": {
            "post": {
                "description": "End a meeting on Zoom, return the deleted meeting ID.\n\n",
                "tags": [
                    "Meeting"
                ],
                "operationId": "meetingEnd",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Meeting ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "host_id",
                        "required": true,
                        "description": "Meeting host user ID. Can be any user under this account."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "id": "123456789",
                                "ended_at": "2012-11-25T12:00:00Z"
                            }
                        }
                    }
                }
            }
        },
        "/meeting/get": {
            "post": {
                "description": "Get a meeting on Zoom via meeting ID, return the meeting info.\n\n",
                "tags": [
                    "Meeting"
                ],
                "operationId": "meetingGet",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Meeting ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "host_id",
                        "required": true,
                        "description": "Meeting host user ID. Can be any user under this account."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "uuid": "unique_id",
                                "id": "123456789",
                                "host_id": "unique_id",
                                "topic": "Zoom Meeting",
                                "password": "",
                                "h323_password": "",
                                "status": 0,
                                "option_jbh": false,
                                "option_start_type": "video",
                                "option_host_video": true,
                                "option_participants_video": true,
                                "option_cn_meeting": false,
                                "option_enforce_login": false,
                                "option_enforce_login_domains": "",
                                "option_in_meeting": false,
                                "option_audio": "both",
                                "option_alternative_hosts": "",
                                "option_use_pmi": false,
                                "type": 8,
                                "start_time": "",
                                "duration": 0,
                                "timezone": "Asia/Hong_Kong",
                                "start_url": "https://www.zoom.us/s/123456789?zak=xxxxxx",
                                "join_url": "https://www.zoom.us/j/123456789",
                                "created_at": "2016-12-20T02:51:42Z",
                                "occurrences": [
                                    {
                                        "occurrence_id": "1483210260000",
                                        "start_time": "2017-01-01T02:51:00Z",
                                        "duration": 60
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/meeting/list": {
            "post": {
                "description": "List all the scheduled meetings on Zoom.\n\n",
                "tags": [
                    "Meeting"
                ],
                "operationId": "meetingList",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "host_id",
                        "required": true,
                        "description": "Meeting host user ID. Can be any user under this account."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30. Max of 300 meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "examples": {
                            "application/json": {
                                "page_count": 5,
                                "total_records": 235,
                                "page_number": 1,
                                "page_size": 50,
                                "meetings": [
                                    {
                                        "uuid": "unique_id",
                                        "id": "123456789",
                                        "start_url": "https://zoom.us/s/123456789?zak=xxxxxx",
                                        "join_url": "https://zoom.us/j/123456789",
                                        "created_at": "2012-11-25T12:00:00Z",
                                        "host_id": "unique_id",
                                        "topic": "Topic for this meeting",
                                        "type": 2,
                                        "start_time": "2012-11-25T12:00:00Z",
                                        "duration": 30,
                                        "timezone": "America/Los_Angeles",
                                        "password": "123",
                                        "h323_password": "123456",
                                        "option_jbh": false,
                                        "option_start_type": "video",
                                        "option_host_video": false,
                                        "option_participants_video": false,
                                        "option_audio": "both",
                                        "option_enforce_login": false,
                                        "option_enforce_login_domains ": "",
                                        "option_alternative_hosts": "",
[...]
