{
    "swagger": "2.0",
    "info": {
        "title": "Zoom REST API",
        "description": "Zoom exposes REST interfaces which allows the developers and solution providers to manage meetings, users, recordings, settings and get usage reports. These APIs will be useful when you as a solution provider, build your own web portal to front end Zoom services and present as a login point to your end users.\n\nThese management APIs are auto-enabled if you have a paid Zoom account. If you don't have a zoom account, go ahead, create a free account and sign up for a 60 days free trial of our developer platform.\n",
        "version": "1.0.0"
    },
    "host": "api.zoom.us",
    "schemes": [
        "https"
    ],
    "basePath": "/v1",
    "consumes": [
        "application/x-www-form-urlencoded"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/ma/account/plan/add": {
            "post": {
                "description": "Add a plan for a sub account of the master account on Zoom.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "account_id",
                        "required": true,
                        "description": "The sub account ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "plan",
                        "required": true,
                        "description": "Additional Plan. See [Plans](#plans) for more details"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/ma/account/create": {
            "post": {
                "description": "Create a sub account of the master account on Zoom, return the created sub account id and owner id.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "email",
                        "required": true,
                        "description": "A valid email address. It must be unique in Zoom service. If an email address is existed, a \"user existing\" error message will be return."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "first_name",
                        "required": true,
                        "description": "User’s first name."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "last_name",
                        "required": true,
                        "description": "User’s last name."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "password",
                        "required": true,
                        "description": "User’s password."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_share_rc",
                        "default": false,
                        "description": "Enable Share Virtual Room Connector."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "share_rc",
                        "description": "Virtual Room Connector, multiple value separated by comma."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_share_mc",
                        "default": false,
                        "description": "Enable Share Meeting Connector."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "share_mc",
                        "description": "Meeting Connector, multiple value separated by comma."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "pay_mode",
                        "default": "1",
                        "description": "Who will pay for this account? 0 means Sub Account Holders Pays, 1 means Master Account Holder Pays."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "collection_method",
                        "default": "1",
                        "description": "Collection Method? 0 means Automatic (billing online), 1 means Manual (send invoice)."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_pstn",
                        "default": true,
                        "description": "The value should be true or false, by default is true."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_enforce_login",
                        "default": false,
                        "description": "Only signed-in users can join this meeting."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_enforce_login_sd",
                        "default": false,
                        "description": "Only signed-in users with specified domains can join meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "enforce_login_domains",
                        "description": "Domains of signed-in users."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "meeting_capacity",
                        "description": "Account’ meeting capacity, max of 100."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "disable_cmr_reminder",
                        "default": false,
                        "description": "Disable cloud recording reminder."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_only_host_download_cmr",
                        "default": false,
                        "description": "Enable Only the host can download cloud recordings."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_same_account_access_cmr",
                        "default": false,
                        "description": "Enable Only users on my account can access cloud recordings."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/ma/account/delete": {
            "post": {
                "description": "Delete the sub account.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "account_id",
                        "required": true,
                        "description": "The sub account ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/ma/account/get": {
            "post": {
                "description": "Get a sub account of the master account on Zoom, return the created sub account id and owner id.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "account_id",
                        "required": true,
                        "description": "The sub account ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/ma/account/plan/get": {
            "post": {
                "description": "Get plans information for a sub account of the master account on Zoom.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "account_id",
                        "required": true,
                        "description": "The sub account ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/ma/account/list": {
            "post": {
                "description": "List all the sub account under the master account.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/ma/account/plan/subscribe": {
            "post": {
                "description": "Subscribe plans for a sub account of the master account on Zoom.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "account_id",
                        "required": true,
                        "description": "The sub account ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "first_name",
                        "required": true,
                        "description": "Sold To Contact’s first name."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "last_name",
                        "required": true,
                        "description": "Sold To Contact’s last name."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "phone_number",
                        "required": true,
                        "description": "Sold To Contact’s phone number."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "address",
                        "required": true,
                        "description": "Sold To Contact’s address."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "apt",
                        "description": "Sold To Contact’s Apt/Suite."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "city",
                        "required": true,
                        "description": "Sold To Contact’s city."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "country",
                        "required": true,
                        "description": "Sold To Contact’s country. For this parameter value please refer to the id value in country list JSON file"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "state",
                        "required": true,
                        "description": "Sold To Contact’s state. If country value is \"US\" or \"CA\", for this parameter value please refer to the id value in state list JSON file"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "zip",
                        "required": true,
                        "description": "Sold To Contact’s zip/postal."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "plan_base",
                        "required": true,
                        "description": "Base Plan.  See [Plans](#plans) for more details"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "plan_zoom_rooms",
                        "description": "Additional Zoom Rooms Plan.  See [Plans](#plans) for more details"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "plan_room_connector",
                        "description": "Additional H.323/SIP Room Connector Plan.  See [Plans](#plans) for more details"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "plan_large_meeting",
                        "description": "Additional Large Meeting Plan.  See [Plans](#plans) for more details"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "plan_webinar",
                        "description": "Additional Webinar Plan.  See [Plans](#plans) for more details"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "plan_recording",
                        "description": "Additional Cloud Recording Plan.  See [Plans](#plans) for more details"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "plan_audio",
                        "description": "Additional Audio Conferencing Plan.  See [Plans](#plans) for more details"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/ma/account/update": {
            "post": {
                "description": "Update a sub account of the master account on Zoom, return the updated sub account id.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "account_id",
                        "required": true,
                        "description": "The sub account ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "enable_share_rc",
                        "description": "Enable Share Virtual Room Connector."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "share_rc",
                        "description": "Virtual Room Connector, multiple value separated by comma."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "enable_share_mc",
                        "description": "Enable Share Meeting Connector."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "share_mc",
                        "description": "Meeting Connector, multiple value separated by comma."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "pay_mode",
                        "description": "Who will pay for this account? 0 means Sub Account Holders Pays, 1 means Master Account Holder Pays."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "collection_method",
                        "description": "Collection Method? 0 means Automatic (billing online), 1 means Manual (send invoice)."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_pstn",
                        "default": true,
                        "description": "The value should be true or false, by default is true."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_call_out",
                        "default": false,
                        "description": "The value should be true or false. If it is true, the user under this account will follow MA call out type."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_enforce_login",
                        "default": false,
                        "description": "Only signed-in users can join this meeting."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_enforce_login_sd",
                        "default": false,
                        "description": "Only signed-in users with specified domains can join meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "enforce_login_domains",
                        "description": "Domains of signed-in users."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "meeting_capacity",
                        "description": "Account’ meeting capacity, max of 100."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "disable_cmr_reminder",
                        "default": false,
                        "description": "Disable cloud recording reminder."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_only_host_download_cmr",
                        "default": false,
                        "description": "Enable Only the host can download cloud recordings."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "enable_same_account_access_cmr",
                        "default": false,
                        "description": "Enable Only users on my account can access cloud recordings."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/ma/account/billing/update": {
            "post": {
                "description": "Update Billing Information for a sub account of the master account on Zoom.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "account_id",
                        "required": true,
                        "description": "The sub account ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "first_name",
                        "description": "Sold To Contact’s first name."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "last_name",
                        "description": "Sold To Contact’s last name."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "phone_number",
                        "description": "Sold To Contact’s phone number."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "address",
                        "description": "Sold To Contact’s address."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "apt",
                        "description": "Sold To Contact’s Apt/Suite."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "city",
                        "description": "Sold To Contact’s city."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "country",
                        "description": "Sold To Contact’s country. For this parameter value please refer to the id value in country list JSON file"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "state",
                        "description": "Sold To Contact’s state. If country value is \"US\" or \"CA\", for this parameter value please refer to the id value in state list JSON file"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "zip",
                        "description": "Sold To Contact’s zip/postal."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/ma/account/plan/update": {
            "post": {
                "description": "Update a plan for a sub account of the master account on Zoom.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "account_id",
                        "required": true,
                        "description": "The sub account ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "type",
                        "required": true,
                        "default": "1",
                        "description": "Plan Type. 1 means Base Plan, 2 means Additional Plan."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "plan",
                        "required": true,
                        "description": "A Base Plan or an Additional Plan. See [Plans](#plans) for more details"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/chat/get": {
            "post": {
                "description": "Get chat messages for a specified period.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "access_token",
                        "required": true,
                        "description": "Archived chat messages access token. Admin who has the view privilege of Archived chat messages will get it."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "session_id",
                        "required": true,
                        "description": "Session Id of chat messages."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "from",
                        "required": true,
                        "description": "Start date."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "to",
                        "required": true,
                        "description": "End date."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30. Max of 30 records."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "next_page_token",
                        "description": "Used to paginate through large result sets.  A next page token will be returned whenever the set of available chat history list exceeds 100.  The expiration period is 30 minutes."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/chat/list": {
            "post": {
                "description": "Get chat history list for a specified time period.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "access_token",
                        "required": true,
                        "description": "Archived chat messages access token. Admin who has the view privilege of Archived chat messages will get it."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "from",
                        "required": true,
                        "description": "Start date."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "to",
                        "required": true,
                        "description": "End date."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30. Max of 30 records."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "email",
                        "description": "Email query condition."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "next_page_token",
                        "description": "Used to paginate through large result sets.  A next page token will be returned whenever the set of available chat history list exceeds 100.  The expiration period is 30 minutes."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/recording/delete": {
            "post": {
                "description": "Delete recorded meeting either on Zoom cloud or on-premise.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "meeting_id",
                        "required": true,
                        "description": "The meeting ID. Example: ucc69C82Q5mTNyCRWE29Aw== Or B9C73AF4-2F36-4399-9337-2091584DBD03"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "file_id",
                        "description": "The file ID, if given this, will only delete this one file, if not given this, will delete all files of the meeting"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/recording/get": {
            "post": {
                "description": "Get the recorded meeting on either Zoom cloud or on-prem.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "meeting_id",
                        "required": true,
                        "description": "The meeting ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/recording/list": {
            "post": {
                "description": "List all the cloud recording meetings on Zoom.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "host_id",
                        "required": true,
                        "description": "Meeting host user ID. Can be any user under this account."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "meeting_number",
                        "description": "The meeting number."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "from",
                        "description": "The meeting start time after this date, MM/dd/yyyy hh:mm a. For example: 11/05/2014 09:05 pm. Use the host’s time zone, if host has not set time zone, will use GMT."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "to",
                        "description": "The meeting start time before this date, MM/dd/yyyy hh:mm a."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30. Max of 300 meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/mc/recording/list": {
            "post": {
                "description": "Lists all the cloud recordings meetings on a Meeting Connector",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "host_id",
                        "required": true,
                        "description": "Meeting host user ID. Can be any user under this account."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "meeting_number",
                        "description": "The meeting number."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "from",
                        "description": "The meeting start time after this date, MM/dd/yyyy hh:mm a. For example: 11/05/2014 09:05 pm. Use the host’s time zone, if host has not set time zone, will use GMT."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "to",
                        "description": "The meeting start time before this date, MM/dd/yyyy hh:mm a."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30. Max of 300 meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/metrics/crc": {
            "post": {
                "description": "Get CRC Port usage hour by hour for a specified time period.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "from",
                        "required": true,
                        "description": "Start date."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "to",
                        "required": true,
                        "description": "End date."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/metrics/im": {
            "post": {
                "description": "Get statistics of Zoom IM",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "from",
                        "required": true,
                        "description": "Start date."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "to",
                        "required": true,
                        "description": "End date."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30. Max of 30 records."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/metrics/meetingdetail": {
            "post": {
                "description": "Get live and past meeting details",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "meeting_id",
                        "required": true,
                        "description": "The meeting ID Example: ucc69C82Q5mTNyCRWE29Aw== Or B9C73AF4-2F36-4399-9337-2091584DBD03"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "type",
                        "required": true,
                        "description": "Meeting type. 1 means live meeting. 2 means past meeting."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30. Max of 100 records."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/metrics/qos": {
            "post": {
                "description": "Get the users quality of service in a Zoom Meeting",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "meeting_id",
                        "required": true,
                        "description": "The meeting ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "type",
                        "required": true,
                        "description": "Meeting type. 1 means live meeting. 2 means past meeting."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "user_id",
                        "description": "The user ID to get user qos."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "10",
                        "description": "The amount of records returns within a single API call. Defaults to 10. Max of 10 records."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/metrics/webinardetail": {
            "post": {
                "description": "Get live and past webinar details",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "meeting_id",
                        "required": true,
                        "description": "The meeting ID Example: ucc69C82Q5mTNyCRWE29Aw== Or B9C73AF4-2F36-4399-9337-2091584DBD03"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "type",
                        "required": true,
                        "description": "Meeting type. 1 means live webinar. 2 means past webinar."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30. Max of 100 records."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/metrics/zoomroomdetail": {
            "post": {
                "description": "Get a Zoom Room on Zoom via Zoom ID, return the Zoom Room info.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "The zoom room ID. Example: ucc69C82Q5mTNyCRWE29Aw== Or B9C73AF4-2F36-4399-9337-2091584DBD03"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "from",
                        "required": true,
                        "description": "Start date."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "to",
                        "required": true,
                        "description": "End date."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30. Max of 30 records."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/metrics/meetings": {
            "post": {
                "description": "Get Live Meetings and past meetings for a specified period",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "type",
                        "required": true,
                        "default": "1",
                        "description": "Meeting list type. 1 means live meetings. 2 means past meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "from",
                        "required": true,
                        "description": "Start date. Only for past meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "to",
                        "required": true,
                        "description": "End date. Only for past meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30. Max of 100 meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/metrics/webinars": {
            "post": {
                "description": "Get live webinars and past webinars for a specified period.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "type",
                        "required": true,
                        "default": "1",
                        "description": "Webinar list type. 1 means live webinars. 2 means past webinars."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "from",
                        "required": true,
                        "description": "Start date. Only for past webinars."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "to",
                        "required": true,
                        "description": "End date. Only for past webinars."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30. Max of 100 webinars."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/metrics/zoomrooms": {
            "post": {
                "description": "List all Zoom Rooms on Zoom.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30. Max of 30 records."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/h323/device/create": {
            "post": {
                "description": "Create a H.323/SIP Device on your Zoom account.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "name",
                        "required": true,
                        "description": "Display Name."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "ip",
                        "required": true,
                        "description": "IP Address or H.323 Extension."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "protocol_type",
                        "default": "1",
                        "description": "Protocol type. 1 means H.323, 2 means SIP."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "encryption_type",
                        "default": "2",
                        "description": "Encryption type. 0 means No, 1 means Yes, 2 means Auto."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/h323/device/delete": {
            "post": {
                "description": "Delete a H.323/SIP Device on your Zoom account.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Device ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/h323/device/list": {
            "post": {
                "description": "List H.323/SIP Devices on your Zoom account.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/h323/device/update": {
            "post": {
                "description": "Update a H.323/SIP Device on your Zoom account.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Device ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "name",
                        "description": "Display Name."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "ip",
                        "description": "IP Address or H.323 Extension."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "protocol_type",
                        "default": "1",
                        "description": "Protocol type. 1 means H.323, 2 means SIP."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "encryption_type",
                        "default": "2",
                        "description": "Encryption type. 0 means No, 1 means Yes, 2 means Auto."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/group/member/add": {
            "post": {
                "description": "Add members to a group on Zoom.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "member_ids",
                        "required": true,
                        "description": "The member IDs, separated by comma"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/group/create": {
            "post": {
                "description": "Create a group on Zoom, return the new group info.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "name",
                        "required": true,
                        "description": "Group name, must be unique in one account."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/group/delete": {
            "post": {
                "description": "Delete a group on Zoom, return the deleted group ID.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/group/member/delete": {
            "post": {
                "description": "Delete members of a group on Zoom.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "member_ids",
                        "required": true,
                        "description": "The member IDs, separated by comma"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/group/get": {
            "post": {
                "description": "Get a group on Zoom via ID, return the group info.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/group/list": {
            "post": {
                "description": "List all groups on your Zoom account.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/group/member/list": {
            "post": {
                "description": "Lists the members of a group on Zoom.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/group/edit": {
            "post": {
                "description": "Edit a group on Zoom, return the new group info.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "name",
                        "description": "Group name, must be unique in one account."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/im/group/create": {
            "post": {
                "description": "Create a IM group on Zoom, return the new group info.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "name",
                        "required": true,
                        "description": "Group name, must be unique in one account."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "type",
                        "default": "Normal",
                        "description": "Group type, Normal: normal group, Restricted: Restricted group, Shared: Shared group."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_search_by_domain",
                        "default": false,
                        "description": "Others in the same email domain can search members."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_search_by_account",
                        "default": false,
                        "description": "Others under same account can search members."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_search_by_ma",
                        "default": false,
                        "description": "Others under same master account, including all sub accounts can search members."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/im/group/delete": {
            "post": {
                "description": "Delete a IM group on Zoom, return the deleted group ID.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/im/group/member/delete": {
            "post": {
                "description": "Delete members of a IM group on Zoom.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "member_ids",
                        "required": true,
                        "description": "The member IDs, separated by comma"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/im/group/get": {
            "post": {
                "description": "Get a IM group on Zoom via ID, return the group info.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/im/group/list": {
            "post": {
                "description": "List all IM groups on your Zoom account.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/im/group/member/list": {
            "post": {
                "description": "Lists the members of a IM group on Zoom.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/im/group/edit": {
            "post": {
                "description": "Edit a IM group on Zoom, return the new group info.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Group ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "name",
                        "description": "Group name, must be unique in one account."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "type",
                        "default": "Normal",
                        "description": "Group type, Normal: normal group, Restricted: Restricted group, Shared: Shared group."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_search_by_domain",
                        "default": false,
                        "description": "Others in the same email domain can search members."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_search_by_account",
                        "default": false,
                        "description": "Others under same account can search members."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_search_by_ma",
                        "default": false,
                        "description": "Others under same master account, including all sub accounts can search members."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/meeting/create": {
            "post": {
                "description": "Create a meeting on Zoom, return the created meeting URL",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "host_id",
                        "required": true,
                        "description": "Meeting host user ID. Can be any user under this account. Cannot be updated after creation."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "type",
                        "required": true,
                        "default": "2",
                        "description": "Meeting type: 1 means instant meeting (Only used for host to start it as soon as created). 2 means normal scheduled meeting. 3 means a recurring meeting with no fixed time. 8 means a recurring meeting with fixed time."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "topic",
                        "required": true,
                        "description": "Meeting topic. Max of 300 characters."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "start_time",
                        "description": "Meeting start time in ISO datetime format. For scheduled meeting and recurring meeting with fixed time. Should be UTC time, such as 2012-11-25T12:00:00Z."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "duration",
                        "description": "Meeting duration (minutes). For scheduled meeting only."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "timezone",
                        "description": "Timezone to format start_time, like \"America/Los_Angeles\". For scheduled meeting only. For this parameter value please refer to the id value in timezone list JSON file."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "password",
                        "default": " 10 characters",
                        "description": "Meeting password. Password may only contain the following characters: [a-z A-Z 0-9 @ - _"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "recurrence",
                        "description": "Recurrence Meeting Settings. For recurring meeting with fixed time only. See [Recurrence Object](#recurrence-object) for more details."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_registration",
                        "default": false,
                        "description": "Registration required."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "registration_type",
                        "default": "1",
                        "description": "Registration type. 1 means Attendees register once and can attend any of the occurrences, 2 means Attendees need to register for each occurrence to attend, 3 means Attendees register once and can choose one or more occurrences to attend. For recurring meeting with fixed time only."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_jbh",
                        "default": false,
                        "description": "Join meeting before host start the meeting. Only for scheduled or recurring meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "option_start_type",
                        "default": "video",
                        "description": "Meeting start type. Can be \"video\" or \"screen_share\". (deprecated)"
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_host_video",
                        "default": true,
                        "description": "Start video when host join meeting."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_participants_video",
                        "default": true,
                        "description": "Start video when participants join meeting."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_cn_meeting",
                        "default": false,
                        "description": "Host meeting in China."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_in_meeting",
                        "default": false,
                        "description": "Host meeting in India."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "option_audio",
                        "default": "both",
                        "description": "Meeting audio options. Can be \"both\", \"telephony\", \"voip\"."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_enforce_login",
                        "default": false,
                        "description": "Only signed-in users can join this meeting."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "option_enforce_login_domains",
                        "description": "Only signed-in users with specified domains can join meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "option_alternative_hosts",
                        "description": "Alternative hosts."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "option_alternative_host_ids",
                        "description": "Alternative hosts IDs."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_use_pmi",
                        "default": false,
                        "description": "Use Personal Meeting ID. Only for scheduled meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "option_auto_record_type",
                        "default": "local",
                        "description": "Automatically record type. Can be \"local\", \"cloud\" or \"none\"."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/meeting/delete": {
            "post": {
                "description": "Delete a meeting on Zoom, return the deleted meeting ID.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Meeting ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "host_id",
                        "required": true,
                        "description": "Meeting host user ID. Can be any user under this account."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "occurrence_id",
                        "description": "Occurrence ID, could get this value from Meeting Get API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/meeting/end": {
            "post": {
                "description": "End a meeting on Zoom, return the deleted meeting ID.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Meeting ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "host_id",
                        "required": true,
                        "description": "Meeting host user ID. Can be any user under this account."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/meeting/get": {
            "post": {
                "description": "Get a meeting on Zoom via meeting ID, return the meeting info.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Meeting ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "host_id",
                        "required": true,
                        "description": "Meeting host user ID. Can be any user under this account."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/meeting/list": {
            "post": {
                "description": "List all the scheduled meetings on Zoom.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "host_id",
                        "required": true,
                        "description": "Meeting host user ID. Can be any user under this account."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30. Max of 300 meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/meeting/live": {
            "post": {
                "description": "Lists the live meetings on Zoom.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/meeting/register": {
            "post": {
                "description": "Register for a meeting.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Meeting ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "email",
                        "required": true,
                        "description": "A valid email address."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "first_name",
                        "required": true,
                        "description": "User’s first name."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "last_name",
                        "required": true,
                        "description": "User’s last name."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "address",
                        "description": "Address."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "city",
                        "description": "City."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "country",
                        "description": "Country. For this parameter value please refer to the id value in country list JSON file"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "zip",
                        "description": "Zip/Postal Code."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "state",
                        "description": "State/Province."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "phone",
                        "description": "Phone."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "industry",
                        "description": "Industry."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "org",
                        "description": "Organization."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "job_title",
                        "description": "Job Title."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "purchasing_time_frame",
                        "description": "Purchasing Time Frame, should be \"Within a month\", \"1-3 months\", \"4-6 months\", \"More than 6 months\", \"No timeframe\"."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "role_in_purchase_process",
                        "description": "Role in Purchase Process, should be \"Decision Maker\", \"Evaluator/Recommender\", \"Influencer\", \"Not involved\"."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "no_of_employees",
                        "description": "Number of Employees, should be \"1-20\", \"21-50\", \"51-100\", \"101-250\", \"251-500\", \"501-1,000\", \"1,001-5,000\", \"5,001-10,000\", \"More than 10,000\"."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "comments",
                        "description": "Questions & Comments."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "custom_questions",
                        "description": "Custom Questions, should be JSON format: [{\"title\":\"field_name1\",\"value\":\"xxx\"},{\"title\":\"field_name2\",\"value\":\"xxx\"}]."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "language",
                        "description": "Language setting of email. This value should be \"en-US\", \"en\", \"zh-CN\", \"zh\", \"en-ES\", \"es\", \"fr-FR\" or \"fr\"."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "occurrence_ids",
                        "description": "Occurrence IDs, could get this value from Meeting Get API."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/meeting/update": {
            "post": {
                "description": "Update meeting info on Zoom via meeting ID.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "id",
                        "required": true,
                        "description": "Meeting ID."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "host_id",
                        "required": true,
                        "description": "Meeting host user ID. Can be any user under this account. Used to retrieve a meeting, cannot be updated."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "type",
                        "required": true,
                        "default": "2",
                        "description": "Meeting type: 1 means instant meeting (Only used for host to start it as soon as created). 2 means normal scheduled meeting. 3 means a recurring meeting with no fixed time. 8 means a recurring meeting with fixed time."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "topic",
                        "description": "Meeting topic. Max of 300 characters."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "start_time",
                        "description": "Meeting start time in ISO datetime format. For scheduled meeting only. Should be UTC time, such as 2012-11-25T12:00:00Z."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "duration",
                        "description": "Meeting duration (minutes). For scheduled meeting only."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "timezone",
                        "description": "Timezone to format start_time, like \"America/Los_Angeles\". For scheduled meeting only. For this parameter value please refer to the id value in timezone list JSON file."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "password",
                        "default": " 10 characters",
                        "description": "Meeting password. Password may only contain the following characters: [a-z A-Z 0-9 @ - _"
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "recurrence",
                        "description": "Recurrence Meeting Settings. For recurring meeting with fixed time only. See [Recurrence Object](#recurrence-object) for more details."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_registration",
                        "default": false,
                        "description": "Registration required."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "registration_type",
                        "default": "1",
                        "description": "Registration type. 1 means Attendees register once and can attend any of the occurrences, 2 means Attendees need to register for each occurrence to attend, 3 means Attendees register once and can choose one or more occurrences to attend. For recurring meeting with fixed time only."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_jbh",
                        "default": false,
                        "description": "Join meeting before host start the meeting. Only for scheduled or recurring meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "option_start_type",
                        "default": "video",
                        "description": "Meeting start type. Can be \"video\" or \"screen_share\". (deprecated)"
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_host_video",
                        "default": true,
                        "description": "Start video when host join meeting."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_participants_video",
                        "default": true,
                        "description": "Start video when participants join meeting."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_cn_meeting",
                        "default": false,
                        "description": "Host meeting in China."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_in_meeting",
                        "default": false,
                        "description": "Host meeting in India."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "option_audio",
                        "default": "both",
                        "description": "Meeting audio options. Can be \"both\", \"telephony\", \"voip\"."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_enforce_login",
                        "default": false,
                        "description": "Only signed-in users can join this meeting."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "option_enforce_login_domains",
                        "description": "Only signed-in users with specified domains can join meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "option_alternative_hosts",
                        "description": "Alternative hosts."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "option_alternative_host_ids",
                        "description": "Alternative hosts IDs."
                    },
                    {
                        "in": "formData",
                        "type": "boolean",
                        "name": "option_use_pmi",
                        "default": false,
                        "description": "Use Personal Meeting ID. Only for scheduled meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "option_auto_record_type",
                        "default": "local",
                        "description": "Automatically record type. Can be \"local\", \"cloud\" or \"none\"."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/report/getaccountreport": {
            "post": {
                "description": "Get account report for a specified period.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "from",
                        "required": true,
                        "description": "Start date."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "to",
                        "required": true,
                        "description": "End date."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30. Max of 300 meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/report/getaudioreport": {
            "post": {
                "description": "Get user report for a specified period.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "from",
                        "required": true,
                        "description": "Start date."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "to",
                        "required": true,
                        "description": "End date."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "type",
                        "default": "1",
                        "description": "Audio type: 1 means Toll-free Call-in & Call-out. 2 means Toll."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_size",
                        "default": "30",
                        "description": "The amount of records returns within a single API call. Defaults to 30. Max of 300 meetings."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "page_number",
                        "default": "1",
                        "description": "Current page number of returned records. Default to 1."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/report/getdailyreport": {
            "post": {
                "description": "Get daily report for one month, can only get daily report for recent 3 months.",
                "parameters": [
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "year",
                        "required": true,
                        "description": "Year for this report."
                    },
                    {
                        "in": "formData",
                        "type": "string",
                        "name": "month",
                        "required": true,
                        "description": "Month for this report."
[...]
